<template>
  <section class="hero is-fullheight" style="background-image: url('./img/fondo.png');">
    <!-- Hero body -->
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline is-centered">
          <div class="column is-narrow">
            <figure>
              <img src="img/logo.png" class="logo">
            </figure>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="sombra">
              <b-input v-model="email" placeholder=" Correo" size="is-medium" type="email"></b-input>
              <b-input v-model="password" placeholder=" Contraseña" size="is-medium" type="password"></b-input>
            </div>
            <div class="boton">
              <b-button @click="login" id="btn" class="is-primary" size="is-medium">
                <small>
                  <strong>ENTRAR</strong>
                </small>
              </b-button>
            </div>
          </div>
        </div>
        <!-- footer -->
        <div class="foot">
          <div class="content has-text-centered is-size-6">
            <p>
              ¿Olvidaste tu Contraseña?
              <a
                @click="goResetPassword"
              >Click aquí</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  data(){
    return{
      email: '',
      password: ''
    }
  },
  methods: {
    login(){
      axios.post('http://localhost:8030/login/singin', {email: this.email, password: this.password})
      .then(res => {
        console.log(res)
      })
      .catch(err => {
        console.log(err)
      })  
    },
    goResetPassword(){
      this.$router.push({name: 'reset'})
    }
  },
}
</script>

<style scoped>
section {
  background-repeat: no-repeat;
  background-color: #f4f6fd;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 15em;
}

.sombra {
  margin-top: 0px;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
}

.boton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.foot {
  margin-top: 60px;
  margin-bottom: 0px;
}
</style>