<template>
  <section class="hero is-fullheight" style="background-image: url('./img/fondo.png');">
    <div class="columns is-centered">
      <div class="column is-narrow">
        <div class="card contenedor sombra">
          <div class="card-content">
            <div>
              <figure class="content-logo">
                <img src="img/logo.png" class="logo">
              </figure>
              <div class="has-text-centered has-text-grey-lighter is-7">
                <p class="texto-color">
                  <strong>
                    Introduce tu email para recuperar
                    <br>tu contraseña:
                  </strong>
                </p>
              </div>
              <!-- Input -->
              <div class="i-correo">
                <b-input placeholder=" Correo" size="is-medium" type="email"></b-input>
              </div>
              <!-- Boton -->
              <div class="boton">
                <b-button rounded id="btn" class="is-primary" size="is-medium">
                  <small>
                    <strong>RECUPERAR</strong>
                  </small>
                </b-button>
              </div>
              <div class="foot">
                <div class="content has-text-centered is-size-6">
                  <a @click="goHome">Regresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
   methods: {
     goHome(){
      this.$router.push({name: 'login'})
    }
   }
}
</script>



<style scoped>
section {
  background-repeat: no-repeat;
  background-color: #f4f6fd;
  background-position: center;
  background-size: cover;
  /*Nuevo*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  padding: 25px;
  border-radius: 0.5em;
}

.sombra {
  margin-top: 0px;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
}

.content-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10em;
  top: 0px;
}

.texto-color {
  /* color: #E3DCF8; */
  margin-top: 20px;
}

.i-correo {
  margin-top: 20px;
}

.boton {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
</style>
